<footer class="bg-footer footer text-white">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-3">
        <a class="mb-3">
          <img src="/assets/images/logo2.png" alt="logo" />
        </a>
        <!-- <ul class="list-unstyled">
          <li>
            <a href="/about" class="text-white-50 text-decoration-none"
              >關於我們</a
            >
          </li>
          <li>
            <a href="/contact" class="text-white-50 text-decoration-none"
              >聯絡我們</a
            >
          </li>
          <li>
            <a href="/terms" class="text-white-50 text-decoration-none"
              >服務條款</a
            >
          </li>
          <li>
            <a href="/privacy" class="text-white-50 text-decoration-none"
              >隱私政策</a
            >
          </li>
        </ul> -->
      </div>
      <div class="col-md-9">
        <div class="d-flex justify-content-end align-items-center">
          <a href="#" class="text-white-50 me-3">
            <svg
              width="40"
              height="41"
              viewBox="0 0 40 41"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_187_46432)">
                <path
                  opacity="0.7"
                  d="M20 1C30.7696 1 39.5 9.73045 39.5 20.5C39.5 31.2696 30.7696 40 20 40C9.23045 40 0.5 31.2696 0.5 20.5C0.5 9.73045 9.23045 1 20 1Z"
                  stroke="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M29 19.5263C29 15.652 24.9625 12.5 20 12.5C15.0377 12.5 11 15.652 11 19.5263C11 22.9994 14.2019 25.9086 18.527 26.4589C18.8199 26.5196 19.2188 26.6451 19.3198 26.886C19.4106 27.1047 19.3793 27.4474 19.3488 27.6685C19.3488 27.6685 19.2436 28.2796 19.2204 28.41C19.1814 28.6288 19.0395 29.2659 20 28.8767C20.9608 28.4874 25.1828 25.9404 27.071 23.8494C28.3754 22.4736 29 21.077 29 19.5263ZM14.4146 21.6339C14.1861 21.6339 14 21.4408 14 21.203V17.9397C14 17.7022 14.2116 17.5089 14.48 17.5089C14.7484 17.5089 14.9 17.7006 14.9 17.9397V20.7724H15.9854C16.2143 20.7724 16.4 20.9657 16.4 21.203C16.4 21.4408 16.2143 21.6339 15.9854 21.6339H14.4146ZM18.2 21.203C18.2 21.4408 17.9981 21.6339 17.7501 21.6339C17.5019 21.6339 17.3 21.4408 17.3 21.203V17.9397C17.3 17.7022 17.5019 17.5089 17.7501 17.5089C17.9981 17.5089 18.2 17.7022 18.2 17.9397V21.203ZM22.7 21.203C22.7 21.389 22.5717 21.5532 22.3797 21.6116C22.3316 21.6265 22.2813 21.6339 22.2309 21.6339C22.0849 21.6339 21.9449 21.5696 21.8566 21.4616L20.0372 19.1842V21.203C20.0372 21.4408 19.8272 21.6339 19.5687 21.6339C19.3103 21.6339 19.1 21.4408 19.1 21.203V17.9397C19.1 17.7541 19.2288 17.5899 19.4203 17.5312C19.4686 17.5162 19.5187 17.5089 19.5691 17.5089C19.7153 17.5089 19.8554 17.5731 19.9431 17.6812L21.7631 19.9587V17.9397C21.7631 17.7022 21.9735 17.5089 22.2316 17.5089C22.4902 17.5089 22.7 17.7022 22.7 17.9397V21.203ZM25.5853 19.1407C25.8142 19.1407 26 19.3339 26 19.5715C26 19.8088 25.8142 20.002 25.5853 20.002H24.4294V20.7724H25.5853C25.8138 20.7724 26 20.9657 26 21.203C26 21.4408 25.8138 21.6339 25.5853 21.6339H24.0145C23.7863 21.6339 23.6 21.4408 23.6 21.203V19.5726V19.5715V17.9397C23.6 17.7022 23.7859 17.5089 24.0145 17.5089H25.5853C25.8142 17.5089 26 17.7022 26 17.9397C26 18.1772 25.8142 18.3702 25.5853 18.3702H24.4294V19.1407H25.5853Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_187_46432">
                  <rect
                    width="40"
                    height="40"
                    fill="white"
                    transform="translate(0 0.5)"
                  />
                </clipPath>
              </defs>
            </svg>
          </a>
          <a href="#" class="text-white-50 me-3">
            <svg
              width="40"
              height="41"
              viewBox="0 0 40 41"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_187_46435)">
                <path
                  opacity="0.7"
                  d="M20 1C30.7696 1 39.5 9.73045 39.5 20.5C39.5 31.2696 30.7696 40 20 40C9.23045 40 0.5 31.2696 0.5 20.5C0.5 9.73045 9.23045 1 20 1Z"
                  stroke="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M20 12.4946C20.855 12.4946 21.732 12.5166 22.582 12.5526L23.586 12.6006L24.547 12.6576L25.447 12.7186L26.269 12.7826C27.161 12.8509 28.0004 13.2316 28.6395 13.8577C29.2786 14.4838 29.6764 15.3152 29.763 16.2056L29.803 16.6306L29.878 17.5406C29.948 18.4836 30 19.5116 30 20.4946C30 21.4776 29.948 22.5056 29.878 23.4486L29.803 24.3586C29.79 24.5046 29.777 24.6456 29.763 24.7836C29.6764 25.6742 29.2784 26.5058 28.6391 27.1319C27.9999 27.758 27.1602 28.1386 26.268 28.2066L25.448 28.2696L24.548 28.3316L23.586 28.3886L22.582 28.4366C21.732 28.4726 20.855 28.4946 20 28.4946C19.145 28.4946 18.268 28.4726 17.418 28.4366L16.414 28.3886L15.453 28.3316L14.553 28.2696L13.731 28.2066C12.839 28.1384 11.9996 27.7577 11.3605 27.1316C10.7214 26.5055 10.3236 25.6741 10.237 24.7836L10.197 24.3586L10.122 23.4486C10.0455 22.4658 10.0048 21.4804 10 20.4946C10 19.5116 10.052 18.4836 10.122 17.5406L10.197 16.6306C10.21 16.4846 10.223 16.3436 10.237 16.2056C10.3235 15.3153 10.7212 14.484 11.3601 13.858C11.999 13.2319 12.8381 12.8511 13.73 12.7826L14.551 12.7186L15.451 12.6576L16.413 12.6006L17.417 12.5526C18.268 12.5166 19.145 12.4946 20 12.4946ZM18 18.0696V22.9196C18 23.3816 18.5 23.6696 18.9 23.4396L23.1 21.0146C23.1914 20.962 23.2673 20.8863 23.3201 20.795C23.3729 20.7037 23.4007 20.6001 23.4007 20.4946C23.4007 20.3892 23.3729 20.2856 23.3201 20.1943C23.2673 20.103 23.1914 20.0272 23.1 19.9746L18.9 17.5506C18.8088 17.498 18.7053 17.4702 18.5999 17.4702C18.4945 17.4703 18.3911 17.498 18.2998 17.5507C18.2086 17.6034 18.1329 17.6792 18.0802 17.7705C18.0276 17.8618 17.9999 17.9653 18 18.0706V18.0696Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_187_46435">
                  <rect
                    width="40"
                    height="40"
                    fill="white"
                    transform="translate(0 0.5)"
                  />
                </clipPath>
              </defs>
            </svg>
          </a>
          <a href="#" class="text-white-50 me-3">
            <svg
              width="40"
              height="41"
              viewBox="0 0 40 41"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_187_46438)">
                <path
                  opacity="0.7"
                  d="M20 1C30.7696 1 39.5 9.73045 39.5 20.5C39.5 31.2696 30.7696 40 20 40C9.23045 40 0.5 31.2696 0.5 20.5C0.5 9.73045 9.23045 1 20 1Z"
                  stroke="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M21.5983 21.4736H24.1413L24.5219 18.5404H21.5983V16.6677C21.5983 15.8184 21.8357 15.2397 23.0615 15.2397L24.625 15.239V12.6156C24.3545 12.5799 23.4265 12.5 22.3467 12.5C20.0926 12.5 18.5494 13.8669 18.5494 16.3773V18.5404H16V21.4736H18.5494V29H21.5983V21.4736Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_187_46438">
                  <rect
                    width="40"
                    height="40"
                    fill="white"
                    transform="translate(0 0.5)"
                  />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-4">
        <ul class="list-unstyled mb-0 d-flex flex-row gap-3 mt-5">
          <li>
            <a href="#" class="text-white text-decoration-none">常見問題</a>
          </li>
          <li>
            <a href="about.html" class="text-white text-decoration-none"
              >關於我們</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">隱私權政策</a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">使用者條款</a>
          </li>
        </ul>
      </div>
      <div class="col-md-8 text-md-end">
        <small class="text-white-50"
          >copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</small
        >
      </div>
    </div>
  </div>
</footer>
