.index-title {
  font-size: 100px;
}

.hero-section {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/hero-bg.png?raw=true");
  background-size: cover;
  background-position: center;
  height: 100dvh;
}
